*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slick-slider {
  position: relative;
  display: block;
}

.slick-slide {
  display: block !important;
}


.picture_wrapper{
    background: #dd5c5c;
    width: 100%; 
    /* height: 255.97px; */
    display: flex;
    gap: 10px;

}

.sliding_images{
    width: 70%;
    /* height: 247.5px; */
}

.right_pictures{
  background-color: rgb(2, 39, 39);
  width: 30%;
}
.upper_picture{
  background-color: rgb(210, 236, 113);
  height: 50%;
  margin-bottom: 5px;
}
.lower_picture{
  background-color: grey;
height: 50%;
}

.upper_picture img{
  background-color: aqua;
  width: 100%;
  height: 50%;
  object-fit: cover
}
.lower_picture img {
  width: 100%;
 height: 50%;
  object-fit: cover
}