*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 100 vh;
    /* background-color: aqua */
}
.full_navbar{
        background-color: black;
width: 100%;
height: 180px;
}

.upper_navbar{
    background-color: rgb(68,68,68);
    width: 100%;
    height: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 36px;
}

.moving_wrapper_up{
    /* background-color: rgb(93, 45, 170); */
    width: 60%;
    height: 50%;
display: flex;
justify-content: space-between;
align-items: center;

}

.search_group {
background-color: wheat;
width: 40%;
height: 100%;
}
.search_group input{
    text-align: start;
    padding-left: 10px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 90%;
}
.search_group button{
    text-align: center;
    background-color: rgb(39,166,43);
    height: 100%;
    width: 10%;
}
.button_group{
width: 150px;
height: 100%;
display: flex;
gap: 5px;
/* justify-content: space-between; */
/* background-color: yellow; */
}
.button_group button{
    width: 80%;
}
.green{
background-color: rgb(0,128,0);
}
.button_group .white{
    background-color: rgb(255, 255, 255);
}
.lower_navbar{
    background-color: rgb(51,51,51);
    width: 100%;
    height: 38% ;
    display: flex;
    justify-content: center;
align-items: center;
}
.moving_wrapper_down{
   /* background-color: rgb(93, 45, 170); */
    width: 60%;
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* height: 45%; */
}
/* .nav_ribbon ul{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.nav_ribbon li{
    display: inline-block;
     list-style: none;
  margin-right: 10px;

}